<h1 class="text-xl font-bold">Articles</h1>

Our blog has <%= Article.public_count %> articles and counting!

<ul class="list-none list-inside">
  <% @articles.each do |article| %>
    <li class="italic">
      <%= link_to article.title, article %>
    </li>
  <% end %>
</ul>


